.title[b-ab2vke4648] {
    font-weight: 700;
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 1rem;
    transition: color 0.3s ease, transform 0.3s ease;
}

.title:hover[b-ab2vke4648] {
    color: #0078D4;
    transform: scale(1.05);
}

ul[b-ab2vke4648] {
    font-family: "Times New Roman", serif;
    font-size: 1.2rem;
    line-height: 1.6;
    padding-left: 1.5rem;
}

ul li[b-ab2vke4648] {
    margin-bottom: 0.5rem;
    transition: color 0.2s ease, transform 0.2s ease;
}

ul li:hover[b-ab2vke4648] {
    color: #0078D4;
    transform: translateX(5px);
}

ul li a[b-ab2vke4648] {
    text-decoration: none;
    color: inherit;
    transition: 0.2s;
}

ul li a:hover[b-ab2vke4648] {
    text-decoration: underline;
}