@page "/"

<div class="profile-section">
  <img src="images/ME.jpg" alt="Profile photo" class="profile-photo" />
  <h4>-----My Portfolio-----</h4>
  <h2>Dustin Ramech E. Bensig</h2>
  <p>BSIT student from Cebu Technological University (CTU).</p>
</div>
