@page "/projects"

<div class="current_projects">
    <p class="projects_done">My Projects</p>

    <ul>
        <li>Calculator App - A simple arithmetic calculator built with Java.</li>
        <li>Todo List - Manage tasks with add, edit, delete functionalities.</li>
        <li>Portfolio Website - Personal website showcasing skills and projects.</li>
        <li>Weather App - Displays current weather using OpenWeather API.</li>
        <li>Blog Platform - A small CMS for writing and publishing articles.</li>
    </ul>
</div>