@page "/skills"

<h3 class="title">Skills</h3>
<hr>

<ul>
    <li class="skill-item">
        C
        <div class="skill-bar">
            <div class="skill-fill" style="--skill-level: 85%;"></div>
        </div>
    </li>
    <li class="skill-item">
        Java
        <div class="skill-bar">
            <div class="skill-fill" style="--skill-level: 80%;"></div>
        </div>
    </li>
    <li class="skill-item">
        HTML
        <div class="skill-bar">
            <div class="skill-fill" style="--skill-level: 90%;"></div>
        </div>
    </li>
    <li class="skill-item">
        JavaScript
        <div class="skill-bar">
            <div class="skill-fill" style="--skill-level: 75%;"></div>
        </div>
    </li>
    <li class="skill-item">
        ASP.Net
        <div class="skill-bar">
            <div class="skill-fill" style="--skill-level: 70%;"></div>
        </div>
    </li>
    

</ul>

